<div class="flex h-screen w-screen">
  @if (logado) {
  <div class="w-64 h-full px-3 py-4 bg-slate-950/30">
    <button type="button"
      class="gap-1 flex w-full px-2 py-1 mb-10 rounded-md text-start font-semibold text-white hover:bg-slate-700"
      routerLink="/home">
      <i class="fi fi-rr-home text-white size-6"></i>
      Home
    </button>
    @for (item of menu; track $index) {
    <button type="button"
      class="gap-1 flex w-full px-2 py-1 rounded-md text-start font-semibold text-white hover:bg-slate-700"
      (click)="item.expanded = !item.expanded">
      <i class="fi fi-rr-{{item.icone}} text-white size-6"></i>
      {{item.nome}}
    </button>
    <div [ngClass]="item.expanded ? 'rounded-md' : 'hidden'">
      @for (sub of item.menus; track $index) {
      <a class="block w-full px-5 py-1 rounded-md text-justify text-white hover:bg-slate-700"
        [routerLink]="sub.rota">{{sub.nome}}</a>
      }
    </div>
    }
  </div>
  }
  <div class="w-screen">
    <router-outlet />
  </div>
</div>